* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 1140px;
    margin: auto;
}

header {
    background-color: #3161e0;

}

.d-flex {
    display: flex;
    /* "flex-direction:row-reverse;" fai un'altra classe dopo container con dentro questo per invertire i contenitori */
}

.s {
    flex-direction: row-reverse;
    display: flex;
}

.logo,
.login {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #3161e0;
}

.text {
    display: flex;
    flex-grow: 4;
    background-color: #3161e0;
}

.logo,
.login,
.text {
    margin: 25px 0 25px 0;
    justify-content: space-between;
}

.debug .jumbotron {
    background-color: brown;
    height: 150px;
}

.debug .jumbotext {
    background-color: green;
    height: 100px;
}

.debug .reliable {
    background-color: blueviolet;
    height: 150px;
}

.degub .reliabletext {
    background-color: rgb(146, 255, 146);
    height: 500px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;
}

.jumbotext {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 70%;
}

.bottoni {

    padding: 20px;

}

h2,
p {
    color: white;
}

button {
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.black {
    background-color: black;
    color: white;
}

.reliable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.reliabletext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 85%;
    border: dashed;
    height: 100px;
}

.degub,
section {
    height: 200px;
}

#meeting {
    background-color: beige;
}

.section-image {
    justify-content: center;
    align-items: center;
    width: 70%;
    border: dashed;
    height: 100px;
}

.section-text {
    justify-content: center;
    align-items: center;
    width: 29%;
    border: dashed;
    height: 100px;
}