* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 1140px;
    margin: auto;
}

header {
    background-color: #3161e0;
    color: white;

}

.d-flex {
    display: flex;
    align-items: center;
    /* "flex-direction:row-reverse;" fai un'altra classe dopo container con dentro questo per invertire i contenitori */
}

.s {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}

.logo,
.login {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #3161e0;
}

.text {
    display: flex;
    flex-grow: 4;
    background-color: #3161e0;
    justify-content: space-between;
}

.logo,
.login,
.text {
    margin: 25px 0 25px 0;

}
.login{
    display: flex;
    justify-content: flex-end;
}
.debug .jumbotron {
    background-color: brown;
    height: 150px;
}

.debug .jumbotext {
    background-color: green;
    height: 100px;
}

.debug .reliable {
    background-color: blueviolet;
    height: 150px;
}

.degub .reliabletext {
    background-color: rgb(146, 255, 146);
    height: 500px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;
}

.jumbotext {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    color: white;
}

.bottoni {
    padding: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 15px;
}


.black {
    background-color:#23272a;
    color: white;
}

.reliable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: beige;
}

.reliabletext {
text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 85%;
    height: 100px;
}

.degub,
section {
    height: 200px;
}

#meeting {
    background-color: beige;
    height: auto;
}

#safe-talk {
    height: auto;
}
#fandom{
        height: auto;
}
.section-image {
    justify-content: center;
    align-items: center;
    width: 70%;

}

.section-text {

    width: 29%;
    text-emphasis-color: black;
}
.adventure{
    text-align: center;
    width: 40%;
    height: 20px;
    background-image: url(/assets/img/stars.svg);
    background-size: contain;

}
.violet{
    margin-top: 50px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 15px;
background-color:#8ea1e1;
}
footer{
    margin-top:600px;
    line-height: 2rem;
    padding: 50px 0 50px 0;
    height: 600px;
    background-color:#23272a;
}
h3{
    color: #6e84d4;}
h4{
color: white;
}
.top{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.item{
flex-grow: 2;
}
.talk{
    flex-grow: 4;
}
dl{
    color: white;
}
.bottom{
margin-top: 20px;
}
.footer-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.viola{
    color: white;
    background-color:#8ea1e1 ;
}
